<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>147187521803-dtmh077u6gnustpscjo6pas7t1muk54m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.147187521803-dtmh077u6gnustpscjo6pas7t1muk54m</string>
	<key>API_KEY</key>
	<string>AIzaSyAqbQPIDug8IhP4I13v_gD_1FzfSgN7RXY</string>
	<key>GCM_SENDER_ID</key>
	<string>147187521803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DolphinDevs.Rush</string>
	<key>PROJECT_ID</key>
	<string>rush-ee720</string>
	<key>STORAGE_BUCKET</key>
	<string>rush-ee720.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:147187521803:ios:d2ddff192d2e4a6c</string>
	<key>DATABASE_URL</key>
	<string>https://rush-ee720.firebaseio.com</string>
</dict>
</plist>